*, *::before, ::after{
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  margin: auto;
  max-width: 80%;
}
.navigation {
  
}

/* Search */
.search_1{

}
.icon_search {

}
fffff
